
# idea configuration files
.idea/
CMakeLists.txt
clzw
cmake-build-debug/

# input text files and .sh files for testing
*.txt
*.sh

# cmake build directories
build/

# files from tests project
tests/cmake-build-debug/

!CMakeLists.txt

